.main_container {
    width: calc(99.3% - 200px);
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease;
}

.main_container .item:nth-child(1) {
    z-index: -10;
    background: #FFFFFF;
    border-radius: 15px;
}

.main_container .item {
    border-radius: 15px;
    background: #753737;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
