<html>

<head>
    <style>

    </style>
</head>

<body>
    <p>Hi {{name}},</p>
    <p>Congradulations, You have successfully registered to our Project Module Management System.</p>
    <p>{{description}}</p>

    <p>This is a system generated email, please don't reply to this email. Thank you..</p>
</body>

</html>